* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C1D1F;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  color: #C6C6C6;
  background-color: #18191B;
  padding: 10px 15px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
