.AppPage {
    width: 100%;
    color: #fff;
}

.top_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top_bar-left,
.top_bar-right {
    display: flex;
}

.user_name {
    width: 150px;
    height: 35px;
    background-color: #141415;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.top_bar button {
    width: 150px;
    height: 35px;
    background-color: #343434;
    color: #C6C6C6;
    transition: all .3s ease-out;
    margin-left: 0 !important;
}

.top_bar button:nth-child(2) {
    margin-left: 12px !important;
}

.top_bar button:hover {
    background-color: #272626;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .top_bar button {
        width: 90px;
        font-size: 10px;
        padding: 0 5px;
    }
    
    .top_bar-right {
        justify-content: flex-end;
    }
    
}

@media screen and (max-width: 768px) {
    .top_bar-right > input {
        width: 50%;
    }
}

@media screen and (max-width: 520px) {
    .top_bar button:nth-child(2) {
        margin-left: 6px;
    }
    .container {
        width: 90%;
    }
    .searchBtn {
        width: 60px;
    }
}